<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto -px-20" cdkScrollable>
  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    <div class="h-full border-gray-300 rounded-2xl">
      <dist-menubar 
        (notifyParentRefresh)="onRefresh()" 
        (notifyParentPeriod)="onPeriodChanged($event)" 
        (notifyParentYear)="onYearChanged($event)"
        [currentPeriod]="currentPeriod()" 
        [currentYear]="currentYear()"
        >
      </dist-menubar>
      <ejs-spreadsheet id="ExpenseSpread" class="w-[calc(100%)] h-[calc(95%)]"  #default 
      sheet="{ rowCount: 100}"
      [scrollSettings]="scrollSettings"       
      [showRibbon]="true" 
      [showFormulaBar]="true" 
      [openUrl]='openUrl' [saveUrl]='saveUrl'
      (created)="created()"
      [showSheetTabs]="false">    
        <e-sheets >
          <e-sheet name="Expense Report">
          </e-sheet>
        </e-sheets>
      </ejs-spreadsheet>
    </div>
  </div>
</div>