<div class="flex flex-col flex-auto min-w-0">
  <!-- Header & Cards -->

  <!-- Header -->
  <div class="bg-card">
      <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
          <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
              <!-- Avatar and name -->
              <div class="flex flex-auto items-center min-w-0">
                  <div class="flex flex-col min-w-0 ml-4">
                      <div>
                          <div class="text-3xl font-semibold tracking-tight leading-8">Summary of Budget and Yearly Forecasts</div>                            
                      </div>
                  </div>
              </div>
              <!-- Actions -->
              <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                  <button (click)="openForecasts()" class="bg-accent" mat-flat-button [color]="'accent'">                        
                      <span class="e-icons e-table-insert-column"></span> 
                      <span class="ml-2">Forecasts</span>

                  </button>
                  <button (click)="openBudgetAdj()" mat-flat-button [color]="'primary'">                        
                      <span class="e-icons e-file-new"></span> 
                      <span class="ml-2">Budget Adjustments</span>
                  </button>
              </div>
          </div>
          <!-- Project selector -->
          <div class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
              matRipple>
              <div class="flex items-center">
                  <div class="overflow-hidden">
                      <div class="font-medium leading-6 truncate">{{selectedProject}}</div>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <!-- Main -->
  <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
      <div class="w-full max-w-screen-xl mx-auto">
          <!-- Tabs -->
          <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">              
            <mat-tab label="Details">
                <ng-template matTabContent>
                    <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0">
                                                                        
                    <div  class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Budget Details</div>
                        <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                            <table class="min-w-240 overflow-y-visible" mat-table [dataSource]="data.budgetDetails.rows">
                                <ng-container matColumnDef="type" sticky>
                                    <th mat-header-cell *matHeaderCellDef>
                                        Type
                                    </th>
                                    <td mat-cell *matCellDef="let budget">
                                        <span class="flex items-center">
                                            <span class="w-2 h-2 rounded-full" [ngClass]="{
                                                            'bg-blue-500': budget.id === 1,
                                                            'bg-red-500': budget.id === 2,
                                                            'bg-green-500': budget.id === 3,
                                                            'bg-amber-500': budget.id === 4,
                                                            'bg-indigo-500': budget.id === 5}"></span>
                                            <span class="ml-3 leading-4">{{budget.type}}</span>
                                        </span>
                                    </td>
                                </ng-container>

                    
                                <ng-container matColumnDef="total">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Total Budget
                                    </th>
                                    <td mat-cell *matCellDef="let budget">
                                        <span class="font-medium text-right">
                                            {{budget.total | currency:'USD'}}
                                        </span>
                                    </td>
                                </ng-container>

                    
                                <ng-container matColumnDef="expensesAmount">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Expenses (USD)
                                    </th>
                                    <td mat-cell *matCellDef="let budget">
                                        {{budget.expensesAmount | currency:'USD'}}
                                    </td>
                                </ng-container>

        
                                <ng-container matColumnDef="expensesPercentage">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Expenses (%)
                                    </th>
                                    <td mat-cell *matCellDef="let budget">
                                        {{budget.expensesPercentage}}%
                                    </td>
                                </ng-container>

                    
                                <ng-container matColumnDef="remainingAmount">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Remaining (USD)
                                    </th>
                                    <td mat-cell *matCellDef="let budget">
                                        {{budget.remainingAmount | currency:'USD'}}
                                    </td>
                                </ng-container>

                    
                                <ng-container matColumnDef="remainingPercentage">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Remaining (%)
                                    </th>
                                    <td mat-cell *matCellDef="let budget">
                                        <span class="flex items-center">
                                            <span>
                    
                                                @if (budget.remainingPercentage < 30) { <span
                                                    class="flex items-end w-1 h-4 bg-red-200 rounded overflow-hidden">
                                                    <span class="flex w-full h-1/3 bg-red-600"></span>
                                            </span>
                                            }
                    
                                            @if (budget.remainingPercentage >= 30 && budget.remainingPercentage
                                            < 80) { <span
                                                class="flex items-end w-1 h-4 bg-orange-200 rounded overflow-hidden">
                                                <span class="flex w-full h-2/4 bg-orange-400"></span>
                                        </span>
                                        }
                    
                                        @if (budget.remainingPercentage >= 80) {
                                        <span
                                            class="flex items-end w-1 h-4 bg-green-100 rounded overflow-hidden">
                                            <span class="flex w-full h-full bg-green-400"></span>
                                        </span>
                                        }
                                        </span>
                                        <span class="ml-3 leading-4">{{budget.remainingPercentage}}%</span>
                                        </span>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="data.budgetDetails.columns"></tr>
                                <tr mat-row *matRowDef="let row; columns: data.budgetDetails.columns;"></tr>
                            </table>
                        </div>
                    </div>                  
                    </div>
                </ng-template>
              </mat-tab>
              <mat-tab label="Overview">
                <div>Some Content</div>
              </mat-tab>              
              
          </mat-tab-group>
      </div>
  </div>

</div>

