.dx-datagrid-headers
{
    background-color: gray;
}
.mat-raise-button {
    margin: 5px;
  }
.mat-button {
    margin: 5px;
  }

.mat-flat-button {
    margin: 5px;
  }

.mat-card {
    margin: 5px;
    width: 100%;
  }

.mat-radio-button {
    margin: 5px;
  }

  table {
    width: 100%;
  }


  th.mat-sort-header-sorted {
    color: black;
  }
  ::ng-deep .dx-datagrid .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) > td:not(.dx-focused) {
    background-color: rgb(195, 199, 199);
    border-color: rgb(195, 199, 199);
  }

