
    <div class="flex items-start justify-between" >
        <div class="text-lg font-medium tracking-tight leading-6 truncate dark:text-gray-100">{{caption()}}</div>
        
        <div class="ml-2 -mt-2 -mr-3">
            @if (chart() === 'bar') { <span class="e-icons e-chart-bar text-6xl dark:text-gray-100"></span> }  
            
            @if (chart() ===  'chart-legend-right')    { <span class="e-icons e-chart-legend-right text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'chart-axes'    ){         <span class="e-icons e-chart-axes text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'chart-lines'       ){     <span class="e-icons e-chart-lines text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'chart-insert-column'   ){ <span class="e-icons e-chart-insert-column text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'chart-legend'      ){     <span class="e-icons e-chart-legend text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'scatter'     ){            <span class="e-icons e-chart-scatter text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'heatmap'     ){            <span class="e-icons e-chart-heatmap text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'candlestick' ){            <span class="e-icons e-chart-candlestick text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'hilo'        ){            <span class="e-icons e-chart-hilo text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'hilo-open-close') {        <span class="e-icons e-chart-hilo-open-close text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'ohlc'        ){            <span class="e-icons e-chart-ohlc text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'box'         ){            <span class="e-icons e-chart-box text-6xl dark:text-gray-100"></span> }
            @if (chart() ===  'candle'      ){            <span class="e-icons e-chart-candle text-6xl dark:text-gray-100"></span> }

        </div>
    </div>
    <div class="flex flex-col items-center mt-2">
        <div class="text-5xl sm:text-7xl font-bold tracking-tight leading-none text-blue-500 ">
            {{mainValue() | number:'1.0-0'}}
            
        </div>
        <div class="text-lg font-medium text-blue-700 dark:text-blue-500"></div>
        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
            <div class="text-md font-medium truncate dark:text-gray-100">{{subtitle()}}
                
            </div>            
            <!-- <div class="ml-1.5 text-lg font-semibold">{{subtitle_value() | number:'1.0-0' }}</div> -->
        </div>
    </div>

