<div class="flex flex-col flex-auto min-w-0">


    <div class="md:max-w-7xl max-w-4xl">

        <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="journalEntryForm">
            <mat-vertical-stepper [linear]="true" #verticalStepper>
                <mat-step [formGroupName]="'step1'" [stepControl]="journalEntryForm.get('step1')" #verticalStepperStep1>
                    <ng-template matStepLabel>Transaction Item Information</ng-template>

                    <mat-form-field class="flex-auto">
                        <input matInput formControlName="transaction_date" [matDatepicker]="picker"
                            [placeholder]="'Transaction Date'">
                        <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    
                    <mat-radio-group class="p-1" aria-label="Transaction Type">                    
                    
                        @for (type of types; track type){
                        <mat-radio-button (click)="onTransTypeClicked(type.value)" class="mr-1" [value]="type.value" [checked]="type.checked">{{type.viewValue}}</mat-radio-button>
                    }                        
                    </mat-radio-group> 
                    

                    <div class="flex flex-col md:flex-row gap-2 mt-1">
                        <div class="flex flex-col grow">

               

                            <mat-form-field class="flex-auto">
                                <input type="text" mask="separator.2" [leadZero]="true" thousandSeparator=","
                                    class="text-right" matInput placeholder="Amount" formControlName="amount"
                                    [placeholder]="'Transaction Total'" />
                                <mat-icon class="icon-size-5" matPrefix
                                [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                            </mat-form-field>

                            @if (templateFilter | async; as templates ) {
                            <mat-form-field>
                                <mat-select [formControl]="templateCtrl" placeholder="Journal Type" #singleTemplateSelect>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="templateFilterCtrl"
                                            [noEntriesFoundLabel]="'No entries found'"
                                            [placeholderLabel]="'Search'"></ngx-mat-select-search>
                                    </mat-option>
                                    @for (template of templates; track template) {
                                    <mat-option [value]="template">{{template.description}}</mat-option>
                                    }
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                            </mat-form-field>
                            }
                        </div>
                        
                        <mat-form-field class="flex-auto ">
                                <input matInput [formControlName]="'description'" [placeholder]="'Description'" required>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:document'"></mat-icon>
                        </mat-form-field>

                        <!-- @if (selectedOption === 'AR') {
                        <mat-form-field class="flex-auto ">
                            <input matInput [formControlName]="'party'" [placeholder]="'Customer'" required>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:shopping-cart'"></mat-icon>
                        </mat-form-field>

                        <mat-form-field class="flex-auto ">
                            <input matInput [formControlName]="'invoice_no'" [placeholder]="'Receipt No'" required>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
                        </mat-form-field>
                        }

                        @if (selectedOption === 'AP') {
                            <mat-form-field class="flex-auto ">
                                <input matInput [formControlName]="'party'" [placeholder]="'Vendor'" required>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:shopping-cart'"></mat-icon>
                            </mat-form-field>
    
                            <mat-form-field class="flex-auto ">
                                <input matInput [formControlName]="'invoice_no'" [placeholder]="'Invoice No'" required>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:shopping-bag'"></mat-icon>
                            </mat-form-field>
                        }
                         -->
                        

                        
                    </div>
                    
                    <div class="flex justify-end">
                        <button class="px-8" mat-icon-button color="primary" class="bg-gray-200  hover:bg-slate-400 ml-1"  (click)="onUpdateHeader()"
                            [disabled]="verticalStepperStep1.stepControl.pristine || verticalStepperStep1.stepControl.invalid"
                            type="button" matTooltip="Next" matStepperNext>
                            <mat-icon [svgIcon]="'feather:arrow-right'"></mat-icon>
                        </button>
                    </div>
                </mat-step>

                <mat-step [formGroupName]="'step2'" [stepControl]="journalEntryForm.get('step2')" #verticalStepperStep2>
                    <ng-template matStepLabel>Transaction Details</ng-template>
                    <section class="flex flex-row mt-2 gap-2">
                        <div class="flex flex-col md:flex-row grow">
                            <mat-form-field class="flex-col grow ">
                                <input matInput placeholder="Description" formControlName="detail_description"
                                    [placeholder]="'Line Description'" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:calculator'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col md:flex-row grow">
                            <mat-form-field class="flex-col grow ">
                                <input matInput placeholder="Reference" formControlName="reference"
                                    [placeholder]="'Reference'" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:document'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </section>
                    <section class="flex flex-row gap-2">
                        @if (subtype$ | async; as subtypes) {
                        <div class="flex flex-col md:flex-row grow">
                            <mat-form-field class="flex-col grow ">
                                <mat-select class="text-gray-800" placeholder="Sub Type" formControlName="sub_type"
                                    (selectionChange)="changeSubtype($event)">
                                    @for (item of subtypes; track item)
                                    { <mat-option [value]="item.subtype"> {{ item.subtype }} </mat-option>
                                    }
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'feather:pen-tool'"></mat-icon>
                            </mat-form-field>
                        </div>
                        }

                        @if (funds$ | async; as funds) {
                        <div class="flex flex-col md:flex-row grow">
                            <mat-form-field class="flex-col grow">
                                <mat-select class="text-gray-800" placeholder="Fund" formControlName="fund"
                                    (selectionChange)="changeFund($event)">
                                    @for (item of funds; track item)
                                    { <mat-option [value]="item.fund"> {{ item.fund }} - {{item.description}}
                                    </mat-option>
                                    }
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                            </mat-form-field>
                        </div>
                        }
                    </section>

                    <section class="flex flex-row gap-2">
                        <div class="flex flex-col grow">
                            @if (filteredDebitAccounts | async; as accounts ) {
                            <mat-form-field>
                                <mat-select [formControl]="debitCtrl" placeholder="Debit Account" #singleDebitSelect>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="debitAccountFilterCtrl"
                                            [noEntriesFoundLabel]="'No entries found'"
                                            [placeholderLabel]="'Search'"></ngx-mat-select-search>
                                    </mat-option>
                                    @for (account of accounts; track account) {
                                    <mat-option [value]="account">{{account.description}}</mat-option>
                                    }
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                            </mat-form-field>
                            }
                        </div>
                        <div class="flex flex-col w-[200px]">
                            <mat-form-field class="form-element">
                                <input type="text" mask="separator.2" [leadZero]="true" thousandSeparator=","
                                    class="text-right" matInput [placeholder]="'Debit Amount'"
                                    formControlName="debit" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                            </mat-form-field>
                        </div>

                        
                        <div class="flex flex-col grow">
                            @if (filteredCreditAccounts | async; as accounts ) {
                            <mat-form-field>
                                <mat-select [formControl]="creditCtrl" placeholder="Credit Account" #singleCreditSelect>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="creditAccountFilterCtrl"
                                            [noEntriesFoundLabel]="'No entries found'"
                                            [placeholderLabel]="'Search'"></ngx-mat-select-search>
                                    </mat-option>
                                    @for (account of accounts; track account) {
                                    <mat-option [value]="account">{{account.description}}</mat-option>
                                    }
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                            </mat-form-field>
                            }
                        </div>
                        <div class="flex flex-col w-[200px]">
                            <mat-form-field class="form-element">
                                <input type="text" mask="separator.2" [leadZero]="true" thousandSeparator=","
                                    class="text-right" matInput [placeholder]="'Credit Amount'"
                                    formControlName="credit" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </section>


                    <div class="flex justify-end">

                        <button mat-icon-button color="primary" class="bg-gray-200  hover:bg-slate-400 ml-1"
                            type="button" matTooltip="Back" aria-label="Template" matStepperPrevious>
                            <mat-icon [svgIcon]="'feather:arrow-left'"></mat-icon>
                        </button>

                        <button mat-icon-button color="primary" class="bg-gray-200  hover:bg-slate-400 ml-1"
                            type="button" matTooltip="Post Transaction" aria-label="Template" 
                            [disabled]="verticalStepperStep2.stepControl.pristine || verticalStepperStep2.stepControl.invalid"
                            (click)="onUpdate()" matStepperNext>
                            <mat-icon [svgIcon]="'feather:arrow-right'"></mat-icon>
                        </button>

                    </div>

                </mat-step>

                <mat-step [formGroupName]="'step3'" [stepControl]="journalEntryForm.get('step4')">
                    <ng-template matStepLabel>Post/Edit Transaction</ng-template>
                    @if (journalHeader) {
                    <div class="text-gray-800 text-3xl m-1">Confirm Transaction</div>
                    <div class="flex">
                        <div class="text-gray-600 m-1">Description : {{journalHeader.description}}</div>
                    </div>
                    <div class="flex">
                        <div class="text-gray-600 m-1">Transaction Date : {{journalHeader.transaction_date}}</div>
                    </div>
                    <div class="flex">
                        <div class="text-gray-600 m-1">Amount : {{journalHeader.amount | number: '1.2-2' }}</div>
                    </div>

                    }
                    <ng-container>                        
                        <wizard-update 
                        [journal_id]="journal_id" 
                        [sTitle]="'Journal Entry Detail'"
                        [description]="description"
                        [amount]="headerAmount">
                     </wizard-update>

                    </ng-container>
                    <div class="flex justify-end mt-8">
                        <button mat-icon-button color="primary" class="bg-gray-200  hover:bg-slate-400 ml-1"
                            type="button" matTooltip="Back to Entry" aria-label="Template" matStepperPrevious>
                            <mat-icon [svgIcon]="'feather:arrow-left'"></mat-icon>
                        </button>
                        
                        <button mat-icon-button color="primary" class="bg-gray-200  hover:bg-slate-400 ml-1"
                            type="button" matTooltip="Post Transaction" aria-label="Template" matStepperNext
                            [disabled]="verticalStepperStep2.stepControl.pristine || verticalStepperStep2.stepControl.invalid">
                            <mat-icon [svgIcon]="'feather:arrow-right'"></mat-icon>
                        </button>

                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Completed</ng-template>

                    <ng-container>
                        <div class="flex flex-col h-full mb-2">
                            <mat-icon class="icon-size-20 text-green-700" matPrefix
                                [svgIcon]="'feather:check'"></mat-icon>
                        </div>
                    </ng-container>
                    @if (journalHeader) {
                    <div class="text-gray-800 text-bold text-3xl m-1">Transaction Confirmed</div>
                    <div class="flex">
                        <div class="text-gray-600 m-1">Description : {{journalHeader.description}}</div>
                    </div>
                    <div class="flex">
                        <div class="text-gray-600 m-1">Transaction Date : {{journalHeader.transaction_date}}</div>
                    </div>
                    <div class="flex">
                        <div class="text-gray-600 m-1">Amount : {{journalHeader.amount | number: '1.2-2'}}</div>
                    </div>

                    <div class="flex">
                        <div class="text-gray-600 m-1">The transaction has been completed. Please add a digital artifact
                            to confirm the transation.</div>
                    </div>

                    }
                    <div class="flex justify-end mt-8">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                            (click)="onAddArtifact()">
                            Add an Artifact
                        </button>
                        <button class="px-8" mat-flat-button [color]="'primary'" type="reset"
                            (click)="verticalStepper.reset();">
                            Clear and Restart
                        </button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </form>
    </div>
</div>