<div class="flex flex-col w-full filter-article filter-interactive text-gray-700">
    <div class="flex flex-col m-2">
        <div class="text-3xl gap-2 m-1 text-gray-100 p-2 bg-slate-600">
            Transaction : {{ journal_id }}
        </div>

        <form [formGroup]="journalForm">
            <section class="flex flex-col md:flex-row">
                <div class="flex flex-col grow">
                    <mat-form-field class="mt-1 mr-1 flex-start">
                        <input matInput placeholder="Journal Description" formControlName="description" />
                        <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:calculator'"></mat-icon>
                                    <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:document'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col w-[150px]">
                    <mat-form-field class="mt-1 flex-start mr-1">
                        <input type="text" mask="separator.2" [leadZero]="true" thousandSeparator="," class="text-right"
                            matInput placeholder="Amount" formControlName="amount"
                            [placeholder]="'Transaction Total'" />
                            <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col w-[150px]">
                    <mat-form-field class="mt-1 flex-start mr-1">
                        <input matInput formControlName="transaction_date" [matDatepicker]="picker" />
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </section>
        </form>
        <div mat-dialog-actions class="m-1 gap-2">
            @if (bDirty === true) {
            <button mat-icon-button class="bg-yellow-200 text-gray-100 hover:bg-slate-400 ml-1"
                (click)="onUpdateJournalEntry()" matTooltip="Update Line Item" aria-label="hover over">
                <mat-icon [svgIcon]="'feather:refresh-cw'"></mat-icon>
            </button>
            }
    
            <button mat-icon-button color="primary" class="bg-slate-200 text-gray-100 hover:bg-slate-400 ml-1"
                (click)="onAddLineJournalDetail()" matTooltip="Add Line" aria-label="hovered over">
                <mat-icon [svgIcon]="'feather:file-plus'"></mat-icon>
            </button>
    
            <button mat-icon-button color="primary" class="bg-slate-200 text-gray-100 hover:bg-slate-400 ml-1"
                (click)="onDelete()" matTooltip="Remove Line" aria-label="hovered over">
                <mat-icon [svgIcon]="'feather:trash'"></mat-icon>
            </button>
    
            <button mat-icon-button color="primary" class="bg-gray-200 hover:bg-slate-400 ml-1" (click)="onAddEvidence()"
                matTooltip="Add Evidence" aria-label="Evidence">
                <mat-icon [svgIcon]="'feather:image'"></mat-icon>
            </button>
    
            <button mat-icon-button color="primary" class="bg-gray-200 hover:bg-slate-400 ml-1" (click)="onCreateTemplate()"
                matTooltip="Create Template" aria-label="Template">
                <mat-icon [svgIcon]="'feather:layout'"></mat-icon>
            </button>
    
            @if (bNewTransaction === true) {
            <button mat-icon-button class="bg-red-400 text-white hover:bg-slate-400 ml-1" (click)="closeDrawer()"
                matTooltip="Cancel" aria-label="hovered over">
                <mat-icon>close</mat-icon>
            </button>
            }
        </div>

        <form [formGroup]="journalDetailForm">
            <div class="flex flex-col">
                <div class="text-3xl m-1 text-gray-100 p-2 bg-slate-600">Details</div>
                <div class="flex flex-col h-full ml-1 mr-1 text-gray-800">
                    @if ( loading === false) {
                    @if (detailsListSignal() !== null) {
                    @if (funds$ | async; as funds) {
                    @if (subtype$ | async; as subtypes) {
                    @if (filteredAccounts | async; as accounts ) {
              
                    <ejs-grid                     
                    [dataSource]='detailsListSignal()'                     
                    [selectionOptions]="selectionOptions"
                    [allowFiltering]="false"
                    [gridLines]="'Both'" 
                    [editSettings]='editSettings' 
                    allowPaging=true 
                    [allowRowDragAndDrop]='true' 
                    allowSorting=true >                    
                
                    <e-columns>                                                                    
                        <e-column field='journal_subid' headerText='ID' [visible]='false' isPrimaryKey='true' width='100' ></e-column>
                        <e-column field='child' headerText='Account' width='150' editType='dropdownedit' [edit]='accountParams' ></e-column>
                        <e-column field='fund'  editType='dropdownedit' headerText='Fund' width='90'></e-column>
                        <e-column field='sub_type' editType='dropdownedit' headerText='Sub Type' width='90'></e-column>
                        <e-column field='description' headerText='Description' width='150'></e-column>                            
                        <e-column field='reference' headerText='Reference' width=120></e-column>
                        <e-column field='debit' headerText='Debit' textAlign='Right' width='100' format="C2"></e-column>
                        <e-column field='credit' headerText='Credit' textAlign='Right' width='100' format="C2"></e-column>
                    </e-columns>
                
                    <e-aggregates>
                        <e-aggregate>
                            <e-columns>
                                <e-column type="Sum" field="debit" format="C2">
                                    <ng-template #footerTemplate let-data>{{data.Sum}}</ng-template>
                                </e-column>
                                <e-column type="Sum" field="credit" format="C2">
                                    <ng-template #footerTemplate let-data>{{data.Sum}}</ng-template>
                                </e-column>
                            </e-columns>
                        </e-aggregate>                            
                    </e-aggregates>
                </ejs-grid>
                    } } } } } @else {
                    <div class="flex justify-center">
                        <div>
                            <mat-progress-spinner diameter="60" [value]="value" mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </form>
    </div>

    
</div>

