<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden" cdkScrollable>
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between sm:py-4 sm:px-4 bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <!-- Title -->
            <div class="mt-2">
                <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Accounting Reporting
                    <div>
                    </div>
                </div>
            </div>

            <!-- Main -->
            <div class="flex-auto overflow-x-auto overflow-y-auto" cdkScrollable>
                <!-- Tabs -->
                <mat-tab-group [animationDuration]="'0'" mat-stretch-tabs="false">


                    <mat-tab label="Trial Balance">
                        <div class="flex justify-center min-h-screen">
                            <dist-ledger></dist-ledger>
                        </div>
                    </mat-tab>

                    <mat-tab label="Detailed Trial Balance">
                        <div class="flex justify-center min-h-screen">
                            <app-distribution-report></app-distribution-report>
                        </div>
                    </mat-tab>
                    <mat-tab label="Income Statement">
                        <div class="flex justify-center min-h-screen">
                            <app-distribution-report></app-distribution-report>
                        </div>
                    </mat-tab>

                    <mat-tab label="Budget Comparison">
                        <div class="flex justify-center min-h-screen">
                            <!-- <app-spreadsheet-rpt></app-spreadsheet-rpt> -->
                        </div>
                    </mat-tab>
                    <mat-tab label="Cash Flow Statement">
                        <div class="flex justify-center min-h-screen">

                        </div>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>