<div id="contextmenutarget" class="flex flex-col w-full filter-article filter-interactive text-gray-700">
    
        <div class="flex flex-col m-2">
        @if (journal_id > 0 ) {
            <div class="text-3xl gap-2 m-1 text-gray-100 p-2 bg-slate-600">
                General Ledger : {{ journal_id }}
            </div>
        }
        @else
        {
            <div class="text-3xl gap-2 m-1 text-gray-100 p-2 bg-slate-600">
                General Ledger 
            </div>
        }
        
        <form [formGroup]="journalForm">
            <section class="flex flex-col md:flex-row">
                <div class="flex flex-col grow">
                    <mat-form-field class="mt-1 mr-1 flex-start">
                        <input matInput placeholder="Journal Description" formControlName="description" />
                        <mat-icon class="icon-size-5" matPrefix
                        [svgIcon]="'heroicons_solid:document'"></mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-col w-[150px]">
                    <mat-form-field class="mt-1 flex-start mr-1">
                        <input type="text" mask="separator.2" [leadZero]="true" thousandSeparator="," class="text-right"
                            matInput placeholder="Amount" formControlName="amount"
                            [placeholder]="'Transaction Total'" />
                            <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                    </mat-form-field>
                </div>
                
                <div class="flex flex-col w-[150px]">
                    <mat-form-field class="mt-1 flex-start mr-1">
                        <input matInput formControlName="transaction_date" [matDatepicker]="picker" />
                        <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </section>
        </form>
        <div mat-dialog-actions class="gap-2 mb-3">
            @if (bDirty === true) {
                <button mat-icon-button color="warm" class="bg-green-400  stroke-purple-600 text-gray-900 hover:bg-slate-400 hover:text-gray-100 ml-1"
                (click)="onUpdateJournalEntry()" matTooltip="Update Transaction" aria-label="hover over">
                <mat-icon [svgIcon]="'feather:refresh-cw'"></mat-icon>
                </button>
            }
    
            <button mat-icon-button color="primary" class="bg-slate-200 fill-current hover:fill-white-100 text-gray-100 hover:bg-slate-400 ml-1 focus:ngring-violet-800"
                (click)="onAddLineJournalDetail()" matTooltip="Add Line" aria-label="hovered over">
                <mat-icon class="hover:bg-pink-300 fill-current " [svgIcon]="'feather:file-plus'"></mat-icon>
            </button>
    
            <button mat-icon-button color="primary" class="bg-slate-200 text-gray-100 hover:bg-slate-400 ml-1"
                (click)="onDelete($event)" matTooltip="Remove Line" aria-label="hovered over">
                <mat-icon [svgIcon]="'feather:trash'"></mat-icon>
            </button>
    
            <button mat-icon-button color="primary" class="bg-gray-200 hover:bg-slate-400 ml-1" 
                (click)="onAddEvidence()"
                matTooltip="Add Evidence" aria-label="Evidence">
                <mat-icon [svgIcon]="'feather:image'"></mat-icon>
            </button>
    
            <button mat-icon-button color="primary" class="bg-gray-200 hover:bg-slate-400 ml-1" 
                (click)="onCreateTemplate()"
                matTooltip="Create Template" aria-label="Template">
                <mat-icon [svgIcon]="'feather:layout'"></mat-icon>
            </button>
    
            
            <button mat-icon-button color="warn" class="bg-gray-200 fill-slate-100 text-white hover:bg-slate-400 ml-1" 
                (click)="onBack()"
                matTooltip="Cancel" aria-label="hovered over">
                <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
            </button>
            
        </div>
            <div class="flex flex-col">                
                <div class="text-3xl m-1 text-gray-100 p-2 bg-slate-600">Details</div>
                <div class="flex flex-col h-full ml-1 mr-1 text-gray-800">
                    @if ( loading === false) {
                    @if (journalService.journalDetailList() !== null) {
                    @if (funds$ | async; as funds) {
                    @if (subtype$ | async; as subtypes) {
                                        
                    <ejs-grid                        
                        id="grid" #grid                        
                        [dataSource]='journalService.journalDetailList()'                                             
                        [selectionSettings]="selectionOptions"                        
                        [editSettings]='editSettings' 
                        [allowFiltering]='false'
                        [allowRowDragAndDrop]='true' 
                        [gridLines]="'Both'"                         
                        [allowPaging]='true' 
                        [allowSorting]='true'
                        [allowSelection]='true'
                        (actionBegin)="actionBegin($event)" 
                        (actionComplete)="actionComplete($event)"                        
                        (rowDragStartHelper)="rowDragStartHelper($event)"                        
                        (rowClick)="rowClick($event)"
                        (rowDrop)="rowDrop($event)"  
                        (rowDragStart)="rowDragStart($event)"                         
                        (rowDrag)="rowDrag($event)" >                    
                    
                        <e-columns>                                                                    
                            <e-column field='journal_subid' headerText='ID' [visible]='false' isPrimaryKey='true' width='100' ></e-column>
                            <e-column field='child' headerText='Account' width='250'></e-column>
                            <e-column field='fund' editType="dropdownedit" editType='dropdownedit' headerText='Fund' width='90'></e-column>
                            <e-column field='sub_type' editType='dropdownedit' headerText='Sub Type' width='90'></e-column>
                            <e-column field='description' headerText='Description' width='150'></e-column>                            
                            <e-column field='reference' headerText='Reference' width=120></e-column>
                            <e-column field='debit' headerText='Debit' textAlign='Right' width='100' format="N2"></e-column>
                            <e-column field='credit' headerText='Credit' textAlign='Right' width='100' format="N2"></e-column>
                        </e-columns>
                    
                        <e-aggregates>
                            <e-aggregate>
                                <e-columns>
                                    <e-column type="Sum" field="debit" format="N2">
                                        <ng-template #footerTemplate let-data>{{data.Sum}}</ng-template>
                                    </e-column>
                                    <e-column type="Sum" field="credit" format="N2">
                                        <ng-template #footerTemplate let-data>{{data.Sum}}</ng-template>
                                    </e-column>
                                </e-columns>
                            </e-aggregate>                            
                        </e-aggregates>
                    </ejs-grid>
                
                    } } } } 
                    @else 
                    {
                        <div class="flex justify-center">
                            <div>
                                <mat-progress-spinner diameter="60" [value]="value" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- <ejs-contextmenu #contextmenu class="bg-white"
                    target='#contextmenutarget' 
                    [items]='menuItems' 
                    (beforeItemRender)='addDisabled($event)' 
                    (created)='onCreate()'>
            </ejs-contextmenu>         -->
        </div>        
</div>
