<div class="sm:hide md:visible">
<grid-menubar class="pl-5 pr-5" 
    [inTitle]="'General Ledger Transactions'" 
    (notifyParentRefresh)="onRefresh()"
    (notifyParentAdd)="onAdd()" 
    (notifyParentDelete)="onDeleteSelection()" 
    (notifyParentUpdate)="onUpdateSelection()">
</grid-menubar>
</div>

<div class="flex flex-col min-w-0 overflow-y-auto -px-10">

    <div class="flex-auto">
        <div class="h-full border-gray-300">
  
            <div class="flex-col">
                @defer (on viewport; on timer(5s)) {
                    <ng-container>
                        @if (store.gl()) {
                        <div class="flex flex-1 flex-col">
                            <ejs-grid #grid id='journals'                                   
                                    [dataSource]='store.gl()'   
                                    [enableStickyHeader]=true 
                                    allowPaging='true' 
                                    allowSorting='true' 
                                    showColumnMenu='true'
                                    allowEditing='true' 
                                    [allowFiltering]='false'
                                    [toolbar]='toolbarOptions' 
                                    [selectionOptions]="selectionOptions"
                                    (actionBegin)="actionBegin($event)" 
                                    (actionComplete)="actionComplete($event)"
                                    [filterSettings]='filterSettings' 
                                    [editSettings]='editSettings'
                                    [allowExcelExport]='true' 
                                    [allowPdfExport]='true' 
                                    [allowCsvExport]='true' 
                                    [searchSetting]="searchOptions" >
                                <e-columns>
                                    <e-column  field="journal_id"  headerText="ID"          width="100" dataType="number" isPrimaryKey='true' textAlign="left"></e-column>  
                                    <e-column  field="type"        headerText="Type"        width="100" dataType="text" textAlign="left"></e-column>
                                    <e-column  field="booked"      headerText="Booked"      width="100" [displayAsCheckBox]='true' type="boolean"></e-column>                            
                                    <e-column  field="amount"      headerText="Amount"      width="150" format='N2'  textAlign="Right"></e-column>
                                    <e-column  field="period"      headerText="Prd"         width="100" ></e-column>
                                    <e-column  field="period_year" headerText="Yr"          width="100" ></e-column>    
                                    <e-column  field="description" headerText="Description" width="200" ></e-column>                                    
                                    <e-column  field="create_date" headerText="Created"     width='120' [format]='formatoptions' type="dateTime"></e-column>                                                        
                                    <e-column  field="create_user" headerText="User"        width='120' type="string"></e-column>                                                 
                                </e-columns>
                            </ejs-grid>                             
                        </div>
                        }
                        @else 
                        {
                            <p>No transactions to display</p>
                        }
                        
                    </ng-container>     

                }
                @placeholder(minimum 1000ms) {
                    <div class="flex justify-center items-center">
                       <mat-spinner></mat-spinner>
                    </div>
                }
            </div>
        </div>
    </div>
    
</div>


