<div class="sm:hide md:visible">

</div>

<div class="flex flex-col min-w-0 overflow-y-auto -px-10">

    <div class="flex-auto">
        <div class="h-full border-gray-300">
  
            <div class="flex-col">
                @defer (on viewport; on timer(5s)) {
                    <ng-container>
                        <grid-menubar 
                        (notifyParentRefresh)="onRefresh()" 
                        (notifyParentAdd)="onAdd()"
                        (notifyParentDelete)="onDeleteSelection()" 
                        (notifyParentUpdate)="onUpdateSelection()">
                         </grid-menubar>                         
                         
                         @if (store.isLoading() === false) 
                        {                            
                            <gl-grid 
                                (openTradeId)="selectedRow($event)"
                                [data]="store.gl()" 
                                [columns]="columns">                                                                
                            </gl-grid>                        
                        }
                           @else
                        {
                            <div class="fixed z-[1050] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4">
                                <mat-spinner></mat-spinner>
                            </div>
                        }
                
                    </ng-container> 

                }
                @placeholder(minimum 1000ms) {
                    <div class="flex justify-center items-center">
                       <mat-spinner></mat-spinner>
                    </div>
                }
            </div>
        </div>
    </div>
    
</div>


