<div class="sm:hide md:visible">
<grid-menubar class="pl-5 pr-5" [inTitle]="'Journal Entry'" (notifyParentRefresh)="onRefresh()"
    (notifyParentAdd)="onAdd()" (notifyParentDelete)="onDeleteSelection()" (notifyParentUpdate)="onUpdateSelection()">
</grid-menubar>
</div>

<div class="flex flex-col min-w-0 overflow-y-auto -px-10" cdkScrollable>
    <!-- Main -->

    <div class="flex-auto">
        <div class="h-full border-gray-300 rounded-2xl">
            <mat-drawer class="w-full" #drawer [opened]="false" mode="push" [position]="'end'"
                [disableClose]="false">
                @if (bOpenDetail === true) {
                <journal-update 
                   [journal_id]="nJournal" 
                   [sTitle]="'Journal Entry Detail'"
                   [description]="description"
                   [transaction_date]="transaction_date"
                   [amount]="amount"
                   [details$]="details$"
                    (notifyDrawerClose)="closeDrawer()">
                </journal-update>
                }                
            </mat-drawer>
            <mat-drawer-container class="flex-col h-full">
                @defer {
                <ng-container>
                    @if (journalHeader$() !== null) {
                    <div class="flex flex-1 flex-col overflow-auto">
                        <dx-data-grid class="w-full lg:w-full" [dataSource]="journalHeader$()" 
                            [columnHidingEnabled]="true"
                            [allowColumnReordering]="true" 
                            [rowAlternationEnabled]="true" 
                            [showBorders]="true"
                            [focusedRowEnabled]="true" 
                            [focusedRowIndex]="0" 
                            [repaintChangesOnly]="true"                            
                            keyExpr="journal_id"                             
                            (onFocusedRowChanged)="onFocusedDetailRowChanged($event)"
                            (onCellDblClick)="onCellDoubleClicked($event)"
                            [width]="'100%'">                            

                            <dxo-search-panel [visible]="true"></dxo-search-panel>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                            <dxo-filter-row [visible]="false"></dxo-filter-row>
                            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                            <dxo-paging [pageSize]="10"> </dxo-paging>
                            <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes"
                                [displayMode]="displayMode" [showPageSizeSelector]="showPageSizeSelector"
                                [showInfo]="showInfo" [showNavigationButtons]="showNavButtons">
                            </dxo-pager>

                            <dxi-column dataField="journal_id" caption="ID" width="50" dataType="number" alignment="left"></dxi-column>                            
                            <dxi-column dataField="booked" dataType="boolean" template="book"></dxi-column>                            
                            <dxi-column dataField="amount" width="100" [customizeText]="formatNumber" dataType="number"></dxi-column>
                            <dxi-column dataField="description" width="300" dataType="string"></dxi-column>
                            <dxi-column dataField="booked_date" dataType="date"></dxi-column>                                                        
                            <dxi-column dataField="booked_user" dataType="string"></dxi-column>
                            <dxi-column dataField="create_user"></dxi-column>
                            <dxi-column dataField="create_date" caption="Date" dataType="date"></dxi-column>
                            
                            
                            <dxo-master-detail [enabled]="true" template="detail"> </dxo-master-detail>
                            <div *dxTemplate="let journal of 'detail'">
                                <journal-detail 
                                    [key]="journal.data.journal_id" 
                                    [description]="journal.data.description"
                                    [transaction_date]="journal.data.transaction_date"    
                                    [amount]="journal.data.amount"
                                    (notifyTransactionEdit)="onEdit()">
                                </journal-detail>
                            </div>
                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                        </dx-data-grid>
                    </div>
                    }

                </ng-container>             
                }
                @placeholder(minimum 500ms) {
                    <div class="fixed z-[1031] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4">
                       <mat-spinner></mat-spinner>
                    </div>
                }
            </mat-drawer-container>
        </div>
    </div>
</div>