
<div class="flex flex-col min-w-0 overflow-y-auto overflow-x-auto" cdkScrollable>
        <!-- Main -->
        <div class="flex-auto p-2 sm:p-10">
            <div class="h-max border-gray-300 rounded-2xl">                
                <reporting-toolbar 
                    (notifyParentRefresh)="onRefresh()"
                    (notifyExcel)="onExportExcel()" 
                    (notifyCSV)="onExportCSV()" >

                </reporting-toolbar>
                
                    @if (store.isLoading() === false) {
        
                    <ejs-grid #grid id="grid" 
                        (click)="onClickGrid($event)"                        
                        [dataSource]="store.header()" 
                        [childGrid]="childDataGrid"
                        allowPaging='true' allowSorting='true'  
                        showColumnMenu='true' allowEditing='false' [allowFiltering]='true' 
                        [toolbar]='toolbarOptions' [selectionOptions]='selectionOptions' [filterSettings]='filterSettings'
                        [editSettings]='editSettings' 
                        [pageSettings]='pageSettings' 
                        [searchSetting]='searchOptions'
                        (rowSelected)="onRowSelected($event)"
                        (actionBegin)="actionBegin($event)" 
                        [enablePersistence]='true'
                        [allowGrouping]='true'
                        [allowExcelExport]='true'
                        [allowPdfExport]='true'
                        (load)='onLoad()'
                        >
        
                        <e-columns>                            
                            <e-column headerText="Group" field="account" width="100"></e-column>
                            <e-column headerText="Account" field="child" isPrimaryKey='true'  width="100" ></e-column>                            
                            <e-column headerText="Prd" field="period" width="100" ></e-column>
                            <e-column headerText="Year" field="period_year" width="100" ></e-column>
                            <e-column headerText="Description" field="description" width="200" ></e-column>
                            <e-column textAlign="Right" headerText="Open" format="N2" field="opening_balance" width="100" ></e-column>
                            <e-column textAlign="Right" headerText="Debit" format="N2" field="debit_balance" width="100" ></e-column>
                            <e-column textAlign="Right" headerText="Credit" format="N2" field="credit_balance" width="100" ></e-column>
                            <e-column textAlign="Right" headerText="Closing" format="N2" field="closing_balance" width="100" ></e-column>
                            <e-aggregates>
                                <e-aggregate>
                                    <e-columns>
                                        <e-column type="Sum" field="opening_balance" format="N2">
                                            <ng-template #footerTemplate let-data>{{data.Sum}}</ng-template>
                                        </e-column>
                                        <e-column type="Sum" field="debit_balance" format="N2">
                                            <ng-template #footerTemplate let-data>{{data.Sum}}</ng-template>
                                        </e-column>
                                        <e-column type="Sum" field="credit_balance" format="N2">
                                            <ng-template #footerTemplate let-data>{{data.Sum}}</ng-template>
                                        </e-column>
                                        <e-column type="Sum" field="closing_balance" format="N2">
                                            <ng-template #footerTemplate let-data>{{data.Sum}}</ng-template>
                                        </e-column>
                                    </e-columns>
                                </e-aggregate>                            
                            </e-aggregates>
                        </e-columns>
                    </ejs-grid>
        
                    }
                    @else
                    {
                    <div class="fixed z-[1050] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4">
                        <mat-spinner></mat-spinner>
                    </div>
                    }
                </div>
        </div>
</div>

