<div class="h-[calc(100vh)-100px] ">
    <mat-drawer class="w-[450px]" #drawer [opened]="false" mode="over" [position]="'end'" [disableClose]="false">
        <mat-card class="m-2">
            <div class="flex flex-col w-full filter-article filter-interactive text-gray-700">
                <div class="bg-slate-600 text-justify m-2 p-2 text-white h-10 text-2xl border-l-4 border-gray-400"
                    mat-dialog-title>
                    {{ sTitle }}
                </div>
            </div>

            <form [formGroup]="accountsForm" class="form">
                <div class="div flex flex-col grow">
                    <section class="flex flex-col md:flex-row m-1">
                        <div class="flex flex-col grow">
                            <mat-form-field class="m-1 flex-start">                                        
                                <input #myInput matInput placeholder="Account" formControlName="account" />
                                <mat-icon class="icon-size-5 text-teal-800" matPrefix [svgIcon]="'heroicons_outline:document'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col grow">
                            <mat-form-field class="m-1 flex-start">
                                
                                <input #myInput matInput placeholder="Child Account"
                                    formControlName="child" />
                                    <mat-icon class="icon-size-5 text-teal-800" matPrefix [svgIcon]="'heroicons_outline:clipboard-document'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col grow">
                            <!-- <mat-form-field class="m-1 flex-start">
                                    <mat-label class="ml-2 text-base">Parent Account</mat-label>
                                    <input #myInput matInput placeholder="Parent Acocunt"
                                        formControlName="parent_account" />
                                </mat-form-field> -->
                            
                            <mat-checkbox color="primary" class="mt-2" formControlName="parent_account">                                        
                                Parent
                            </mat-checkbox>
                            
                        </div>

                    </section>

                    <div class="flex flex-col grow">
                        <mat-form-field class="m-1 flex-start">                                
                            <input #myInput matInput placeholder="Description" formControlName="description" />
                            <mat-icon class="icon-size-5 text-teal-800" matPrefix [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <section class="flex flex-col md:flex-row">

                        <mat-form-field class="m-1 grow">
                            
                            <mat-select placeholder="Type" formControlName="type"
                                (selectionChange)="changeType($event)">
                                @for (item of typeList(); track item) {
                                <mat-option [value]="item.type"> {{ item.type }} </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>


                        <!-- <mat-form-field class="m-1 grow">
                            
                            <mat-select placeholder="Sub Type" formControlName="sub_type"
                                (selectionChange)="changeType($event)">
                                @for (item of typeList(); track item) 
                                { <mat-option [value]="item.type"> {{
                                    item.type }} </mat-option> 
                                }
                            </mat-select>
                        </mat-form-field> -->

                    </section>

                    <div class="flex flex-col grow">
                        <mat-form-field class="m-1 flex-start">                                    
                            <input #myInput matInput placeholder="Comments" formControlName="comments" />
                        </mat-form-field>
                    </div>

                </div>
            </form>

            <div mat-dialog-actions>
                <button mat-icon-button color="primary" class="m-1" (click)="onUpdate($event)"
                    matTooltip="Update"
                    aria-label="Button that displays a tooltip when focused or hovered over">                                
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1" (click)="onCreate($event)"
                    matTooltip="Add"
                    aria-label="Button that displays a tooltip when focused or hovered over">                                
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1" (click)="onDelete($event)"
                    matTooltip="Delete"
                    aria-label="Button that displays a tooltip when focused or hovered over">                                
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1" (click)="closeDrawer()"
                    matTooltip="Close"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <section class="text-xl text-gray-700" [formGroup]="accountsForm">                        
                {{accountsForm.value | json}}
            </section>
        </mat-card>
    </mat-drawer>
    <mat-drawer-container class="flex-col">
        
        <ng-container>
        @if (accountsList() !== null) {
            <grid-menubar (notifyParentRefresh)="onRefresh()" (notifyParentAdd)="onAdd()"
                (notifyParentDelete)="onDeleteSelection()" (notifyParentUpdate)="onUpdateSelection()">
            </grid-menubar>

            <div class="flex flex-col">
                <dx-data-grid class="h-full" [columnHidingEnabled]="true" id="id" [wordWrapEnabled]="false" [dataSource]="accountsList()"
                    [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
                    [focusedRowEnabled]="true" [repaintChangesOnly]="true"
                    (onFocusedRowChanged)="onFocusedRowChanged($event)"
                    (onCellDblClick)="onDoubleClicked($event)" keyExpr="child">

                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                    <dxo-filter-row [visible]="false"></dxo-filter-row>                            
                    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                    <dxo-paging [pageSize]="10"> </dxo-paging>
                    <dxo-pager
                        [visible]="true"
                        [allowedPageSizes]="allowedPageSizes"
                        [displayMode]="displayMode"
                        [showPageSizeSelector]="showPageSizeSelector"
                        [showInfo]="showInfo"
                        [showNavigationButtons]="showNavButtons"
                    >
                    </dxo-pager>

                    <dxi-column dataField="account" width="100"> </dxi-column>
                    <dxi-column dataField="child" width="100"> </dxi-column>
                    <dxi-column dataField="parent_account" caption="Parent" width="70"></dxi-column>
                    <dxi-column dataField="description" width="400"></dxi-column>
                    
                    <dxi-column dataField="type" caption="Type" width="100"></dxi-column>
                    <dxi-column dataField="update_date" width="100"></dxi-column>
                    <dxi-column dataField="update_user" width="100"></dxi-column>
                    <dxi-column dataField="comments"></dxi-column>

                    <dxo-master-detail [enabled]="false" template="detail"> </dxo-master-detail>
                    <div *dxTemplate="let journal of 'detail'">
                        <gl-detail [account]="journal.data.account"></gl-detail>
                    </div>
                </dx-data-grid>
            </div>
            } @else
            {
            <div class="container w-200">
            <button class="flex flex-auto snap-center" mat-raised-button color="primary">Refresh</button>
            </div>                    
        }
        </ng-container>
    </mat-drawer-container>
</div>

