<div class="h-[calc(100vh)-100px] ">
    
    <mat-drawer class="w-[450px]" #drawer [opened]="false" mode="over" [position]="'end'" [disableClose]="false">
        <mat-card class="m-2">
            <div class="flex flex-col w-full filter-article filter-interactive text-gray-700">
                <div class="bg-slate-600 text-justify m-2 p-2 text-white h-10 text-2xl border-l-4 border-gray-400"
                    mat-dialog-title>
                    {{ title }}
                </div>
            </div>

            <form [formGroup]="teamForm" class="form">
                <div class="div flex flex-col grow">
                    <section class="flex flex-col md:flex-row m-1">
                        
                        <div class="flex flex-col grow">
                            <mat-form-field class="m-1 flex-start">                                        
                                <input #myInput matInput placeholder="Account" formControlName="team_member" />
                                <mat-icon class="icon-size-5 text-teal-800" matPrefix [svgIcon]="'heroicons_outline:document'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col grow">
                            <mat-form-field class="m-1 flex-start">                                
                                <input #myInput matInput placeholder="Child Account" formControlName="last_name" />
                                    <mat-icon class="icon-size-5 text-teal-800" matPrefix [svgIcon]="'heroicons_outline:clipboard-document'"></mat-icon>
                            </mat-form-field>
                        </div>

                    <div class="flex flex-col grow">
                        <mat-form-field class="m-1 flex-start">                                    
                            <input #myInput matInput placeholder="Comments" formControlName="first_name"> 
                            <mat-icon class="icon-size-5 text-teal-800" matPrefix [svgIcon]="'heroicons_outline:clipboard-document'"></mat-icon>
                        </mat-form-field>
                    </div>
                    </section>
                </div>
            </form>

            <div mat-dialog-actions>
                <button mat-icon-button color="primary" class="m-1" (click)="onUpdate($event)"
                    matTooltip="Update"
                    aria-label="Button that displays a tooltip when focused or hovered over">                                
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1" (click)="onCreate($event)"
                    matTooltip="Add"
                    aria-label="Button that displays a tooltip when focused or hovered over">                                
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1" (click)="onDelete()"
                    matTooltip="Delete"
                    aria-label="Button that displays a tooltip when focused or hovered over">                                
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1" (click)="closeDrawer()"
                    matTooltip="Close"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <section class="text-xl text-gray-700" [formGroup]="teamForm">                        
                {{teamForm.value | json}}
            </section>
        </mat-card>
    </mat-drawer>
    <mat-drawer-container class="flex-col">        
        <ng-container>
            
            <kanban-menubar  
                (notifyParentRefresh)="onRefresh()" 
                (notifyParentAdd)="onAdd()"
                (notifyParentDelete)="onDeleteCurrentSelection()"
                (notifyParentUpdate)="onUpdateCurrentSelection()">
            </kanban-menubar>
            
            <div class="flex flex-col">
                <ejs-grid class="h-full" id="team_member" [dataSource]="teamStore.team()">
                <e-columns>
                   <e-column headerText="Member" field="team_member"></e-column>
                   <e-column headerText="First Name" field="first_name"></e-column>
                   <e-column headerText="Last Name" field="last_name"></e-column>
                   <e-column headerText="Location" field="location"></e-column>
                   <e-column headerText="Title" field="title"></e-column>
                   <e-column headerText="Updated" field="updatedte"></e-column>
                   <e-column headerText="User" field="updateusr"></e-column>
                   <e-column headerText="email" field="email"></e-column>
                   <e-column headerText="image" field="image"></e-column>
                   <!-- <e-column headerText="ID" field="uid"></e-column> -->
                </e-columns>                    
                </ejs-grid>
            </div>
        
        </ng-container>
    </mat-drawer-container>
</div>

