<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
@if (layout === 'empty') {
     <empty-layout></empty-layout>
}


<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->


<!-- @if ( layout === 'centered') {
     <centered-layout></centered-layout>
}

@if ( layout === 'enterprise') {
    <enterprise-layout></enterprise-layout>
}



@if( layout === 'material') {
    <material-layout></material-layout>
}



@if( layout === 'modern') {
    <modern-layout></modern-layout>
} -->


<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with vertical navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Classic -->
@if( layout === 'classic') {
    <classic-layout></classic-layout>
} 


<!-- Classy -->
@if( layout === 'classy') {
    <classy-layout></classy-layout>
}

<!-- Compact -->
@if( layout === 'compact') {
    <compact-layout></compact-layout>
}

@if( layout === 'dense') {
    <dense-layout></dense-layout>
}


<!-- Dense 

@if( layout === 'futuristic') {
    <futuristic-layout></futuristic-layout>
}



@if( layout === 'thin') {
    <thin-layout></thin-layout>
} -->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Settings drawer - Remove this to remove the drawer and its button -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<settings></settings>
