<!-- <div mat-dialog-title [ngStyle]="{'border-left': '10px solid' + cRAG  }">{{sTitle}}</div>
<div mat-dialog-content>
    <form [formGroup]="taskGroup" (ngSubmit)="onUpdate(taskGroup.value)" class="form">

        <mat-form-field class="mat-form-field" [ngStyle]="{ width: '100%' }">
            <textarea matInput placeholder="Summary" formControlName="summary" [ngStyle]="{ height: '6em' }">
          </textarea>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onUpdate(task)" [mat-dialog-close]="task" mat-flat-button color="primary">
        Update
    </button>
    <button mat-button (click)="onCreate(task)" [mat-dialog-close]="task" mat-flat-button color="primary">
        Insert
    </button>
</div> -->
