<div class="flex flex-col w-full filter-article filter-interactive text-gray-700">

    <div class="flex flex-col m-2">
        <div class="text-3xl gap-2 m-1 text-gray-100 p-2  bg-slate-600">Transaction : {{journal_id}}</div>

        <form [formGroup]="journalForm">
            <section class="flex flex-col md:flex-row">
                <div class="flex flex-col grow">
                    <mat-form-field class="mt-1 mr-1 flex-start">                        
                        <input matInput placeholder="Journal Description" formControlName="description" />
                    </mat-form-field>
                </div>
                <div class="flex flex-col w-[150px]">
                    <mat-form-field class="mt-1 flex-start mr-1">                        
                        <input matInput placeholder="Journal Amount" formControlName="amount" />
                    </mat-form-field>
                </div>
                <div class="flex flex-col w-[150px]">
                    <mat-form-field class="mt-1 flex-start mr-1">
                        <input matInput formControlName="transaction_date" [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </section>
            
            <!-- <div class="flex flex-col w-[300px]">
            <mat-form-field>
                    <mat-select [formControl]="accountCtrl" placeholder="Account" #singleSelect>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="accountFilterCtrl" [noEntriesFoundLabel]="'No entries found'" [placeholderLabel]="'Search'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let account of filteredAccounts | async" [value]="account">
                        {{account.description}} 
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>    
            <div class="h1">Selected Account : {{accountCtrl.value?.child}} {{accountCtrl.value?.description}} </div>     -->
            
        </form>

        <form [formGroup]="journalDetailForm">
            <div class="flex flex-col">
                <div class="text-3xl m-1 text-gray-100 p-2  bg-slate-600">Details</div>
                <div class="flex flex-col h-full ml-1 mr-1 text-gray-800">
                    @if ( loading === false) {
                    @if (details$ | async; as journal_details) {
                    <dx-data-grid id="journal_subid" [columnHidingEnabled]="true" [wordWrapEnabled]="false"
                        [dataSource]="journal_details" [showColumnLines]="true" [showRowLines]="true"
                        [showBorders]="true" [focusedRowEnabled]="true" keyExpr="journal_subid"
                        (onFocusedRowChanged)="onFocusedDetailRowChanged($event)" [repaintChangesOnly]="false">
                        <dxi-column dataField="journal_subid" caption="ID" width="60"> </dxi-column>
                        <dxi-column dataField="child" caption="Account" width="90"> </dxi-column>
                        <dxi-column dataField="fund" caption="Fund" width="100"> </dxi-column>
                        <dxi-column dataField="sub_type" caption="Sub Type" width="150"> </dxi-column>
                        <dxi-column dataField="description"> </dxi-column>
                        <dxi-column dataField="reference" width="220"> </dxi-column>
                        <dxi-column dataField="debit" dataType="number" width="120" alignment="right"
                            [customizeText]="formatNumber"> </dxi-column>
                        <dxi-column dataField="credit" dataType="number" alignment="right"
                            [customizeText]="formatNumber" width="120"> </dxi-column>

                        <dxo-summary>
                            <dxi-total-item column="child" summaryType="count">
                            </dxi-total-item>
                            <dxi-total-item column="debit" summaryType="sum"
                                [valueFormat]="{ type: 'currency', precision: 2, useCurrencyAccountingStyle: true}"
                                displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="credit" summaryType="sum"
                                [valueFormat]="{ type: 'currency', precision: 2, useCurrencyAccountingStyle: true}"
                                displayFormat="{0}"> </dxi-total-item>
                        </dxo-summary>
                    </dx-data-grid>
                    }
                    }
                    @else {
                    <div class="flex justify-center">
                        <div>
                            <mat-progress-spinner diameter="60" [value]="value" mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                    </div>
                    }
                </div>
                @if (editing === true)
                {
                <div class="text-3xl m-1 text-gray-100 p-2 mt-2  bg-slate-600">Update Details {{journal_subid}}</div>
                <section class="flex flex-col md:flex-row mt-2">
                    <div class="flex flex-col grow">
                        <mat-form-field class="mt-1 mr-1 form-element grow">                            
                            <input matInput placeholder="Description" formControlName="detail_description" />
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col grow">
                        <mat-form-field class="mt-1 form-element grow">
                            <input matInput placeholder="Reference" formControlName="reference" />
                        </mat-form-field>
                    </div>
                </section>

                <section class="flex flex-col md:flex-row mt-2">
                     <div class="flex flex-col w-[350px]">
                        @if (filteredAccounts | async; as accounts ) {
                        <mat-form-field>
                                <mat-select [formControl]="accountCtrl" placeholder="Account" #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="accountFilterCtrl" [noEntriesFoundLabel]="'No entries found'" [placeholderLabel]="'Search'"></ngx-mat-select-search>
                                </mat-option>
                                @for (account of accounts; track account) {
                                    <mat-option [value]="account">{{account.description}}</mat-option>
                                }   
                                </mat-select>
                            </mat-form-field>
                        }
                    </div>    

                    <div class="flex flex-col w-[180px]">
                        @if (subtype$ | async; as subtypes)
                        {
                        <mat-form-field class="flex-col ml-1 grow">
                            
                            <mat-select class="text-gray-800" placeholder="Sub Type" formControlName="sub_type"
                                (selectionChange)="changeSubtype($event)">
                                @for (item of subtypes; track item) {
                                <mat-option [value]="item.subtype"> {{ item.subtype }} </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        }
                    </div>
                    

                    <div class="flex flex-col w-[180px]">
                        @if (funds$ | async; as funds)
                        {
                        <mat-form-field class="flex-col ml-1 grow">
                            
                            <mat-select class="text-gray-800" placeholder="Fund" formControlName="fund"
                                (selectionChange)="changeFund($event)">
                                @for (item of funds; track item) {
                                <mat-option [value]="item.fund"> {{ item.fund }} </mat-option>
                                }
                                
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        </mat-form-field>
                        }
                    </div>

                    <div class="flex flex-col grow">
                        <mat-form-field class="flex-col ml-1 grow">
                            
                            <input type="text" mask="separator.2" [leadZero]="true" thousandSeparator=","
                                class="text-right" matInput placeholder="Debit" formControlName="debit" />
                                <mat-icon class="icon-size-5" matPrefix
                                [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>

                        </mat-form-field>
                    </div>
                    <div class="flex flex-col grow">
                        <mat-form-field class="flex-col ml-1 grow">
                            
                            <input type="text" mask="separator.2" [leadZero]="true" thousandSeparator=","
                                class="text-right" matInput placeholder="Credit" formControlName="credit" />
                                <mat-icon class="icon-size-5" matPrefix
                                [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>

                        </mat-form-field>
                    </div>
                </section>
                }
            </div>

        </form>
    </div>


    <div mat-dialog-actions class="m-1 gap-2">
        <button mat-icon-button color="primary" class=" bg-slate-200 text-gray-100 hover:bg-slate-400 ml-1" (click)="onUpdateJournalEntry()"
            matTooltip="Update Line Item" aria-label="hover over">
            <mat-icon [svgIcon]="'feather:refresh-cw'"></mat-icon>
        </button>

        <button mat-icon-button color="primary" class="bg-slate-200 text-gray-100 hover:bg-slate-400 ml-1"
            (click)=" onAddLineJournalDetail()" matTooltip="Add Line" aria-label="hovered over">
            <mat-icon [svgIcon]="'feather:file-plus'"></mat-icon>
        </button>

        <button mat-icon-button color="primary" class=" bg-slate-200 text-gray-100 hover:bg-slate-400 ml-1"
            (click)="onDelete()"
            matTooltip="Remove Line" aria-label="hovered over">
            <mat-icon [svgIcon]="'feather:trash'"></mat-icon>
        </button>

        <button mat-icon-button color="primary"  class="bg-gray-200  hover:bg-slate-400 ml-1"
            (click)="onAddEvidence()"
            matTooltip="Add Evidence" aria-label="Evidence">
            <mat-icon [svgIcon]="'feather:image'"></mat-icon>
        </button>

        <button mat-icon-button color="primary"  class="bg-gray-200  hover:bg-slate-400 ml-1"
            (click)="onCreateTemplate()"
            matTooltip="Create Template" aria-label="Template">
            <mat-icon [svgIcon]="'feather:layout'"></mat-icon>
        </button>

        @if (bNewTransaction === true) {
        <button mat-icon-button color="primary" class=" bg-slate-200 text-gray-100 hover:bg-slate-400 ml-1" 
            (click)="closeDrawer()"
            matTooltip="Cancel" aria-label="hovered over">
            <mat-icon>close</mat-icon>
        </button>
        }
    </div>

</div>