<div mat-dialog-content>
    
    <form [formGroup]="journalDetailEditForm"> 
        <label for="description">description: </label>
        <input id="description" type="text" formControlName="child_description">       

        <label for="child">child: </label>
        <input id="child" type="text" formControlName="child">       
        
        <label for="fund">fund: </label>
        <input id="fund" type="text" formControlName="fund">       

        <label for="debit">debit: </label>
        <input id="debit" type="number" formControlName="debit">       
        
        <label for="credit">fund: </label>
        <input id="credit" type="number" formControlName="credit">       
        
    </form>
</div>

