<div class="flex flex-col w-full filter-article filter-interactive text-gray-700">

    <form [formGroup]="journalForm">
        <div class="flex flex-col">
            <div class="text-3xl m-2 text-gray-100 p-2  bg-slate-600">Transaction Update</div>     
            <mat-card class="m-2 mat-elevation-z8">
               

                @if(journalHeader$ | async; as header)
                {
                <section class="flex flex-col md:flex-row">
                    <div class="flex flex-col grow">
                        <mat-form-field class="m-1 flex-start">
                            <mat-label class="ml-2 text-base">Journal Description</mat-label>
                            <input matInput placeholder="Journal Description" formControlName="description" />
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-[150px]">
                        <mat-form-field class="m-1 flex-start">
                            <mat-label class="ml-2 text-base">Transaction Date</mat-label>
                            <input matInput formControlName="transaction_date" [matDatepicker]="picker">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </section>
                }
                <div class="flex flex-col h-full m-2 text-gray-800">
                    @if (details$ | async; as journal_details) {
                    <dx-data-grid id="journal_id" [wordWrapEnabled]="true" [dataSource]="journal_details"
                        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [focusedRowEnabled]="true"
                        keyExpr="journal_subid" (onFocusedRowChanged)="onDetailRowSelected($event)"
                        (onFocusedRowChanged)="onFocusedDetailRowChanged($event)"
                        (onCellDblClick)="onCellDoubleClicked($event)" [repaintChangesOnly]="true">

                        <dxi-column dataField="child" caption="Account" width="90"> </dxi-column>
                        <dxi-column dataField="fund" caption="Fund" width="90"> </dxi-column>
                        <dxi-column dataField="sub_type" caption="Sub Type" width="120"> </dxi-column>
                        <dxi-column dataField="description"> </dxi-column>
                        <dxi-column dataField="reference" width="120"> </dxi-column>
                        <dxi-column dataField="debit" dataType="number" width="120" alignment="right"
                            [customizeText]="formatNumber"> </dxi-column>
                        <dxi-column dataField="credit" dataType="number" alignment="right"
                            [customizeText]="formatNumber" width="120"> </dxi-column>

                        <dxo-summary>
                            <dxi-total-item column="child" summaryType="count">
                            </dxi-total-item>
                            <dxi-total-item column="debit" summaryType="sum"
                                [valueFormat]="{ type: 'currency', precision: 2, useCurrencyAccountingStyle: true}"
                                displayFormat="{0}"></dxi-total-item>
                            <dxi-total-item column="credit" summaryType="sum"
                                [valueFormat]="{ type: 'currency', precision: 2, useCurrencyAccountingStyle: true}"
                                displayFormat="{0}"> </dxi-total-item>
                        </dxo-summary>
                    </dx-data-grid>
                    }

                </div>

          

            <div mat-dialog-actions class="m-1">
                <button mat-icon-button color="primary" class="m-1 bg-slate-200 text-gray-100"
                    (click)="onUpdate($event)" matTooltip="Update Transaction" aria-label="hovered over">
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1 bg-slate-200 text-gray-100"
                    (click)="onCreate()" matTooltip="Add New Transaction" aria-label="hovered over">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1 bg-slate-200 text-gray-100"
                    (click)="onDelete($event)" matTooltip="Delete Transaction" aria-label="hovered over">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1 bg-slate-200 text-gray-100"
                    (click)="closeDrawer()" matTooltip="Cancel" aria-label="hovered over">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-card>

        </div>


        <!-- <mat-card class="m-2 mat-elevation-z8">            
            <div class="flex flex-col">                                
                    <div class="text-3xl m-2 text-gray-100 p-2  bg-slate-600">Detail Update</div>                    
                    <section class="flex flex-col md:flex-row">
                        <div class="flex flex-col grow">                            
                            @if (accounts$ | async; as accounts) {
                            <mat-form-field class="flex-start ml-1 grow" appearance="outline">
                                <mat-label class="ml-2 text-base dark:text-gray-100">Account</mat-label>
                                <mat-select class="text-gray-800" placeholder="Account" formControlName="child"
                                    (selectionChange)="changeChildAccount($event)">
                                    @for (account of accounts; track account)
                                    { <mat-option [value]="account.child"> {{ account.child }} - {{account.description}}
                                    </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                            }
                        </div>

                        @if (subtype$ | async; as subtypes) {
                        <div class="flex flex-col grow ">
                            <mat-form-field class="flex-col  ml-1" appearance="outline">
                                <mat-label class="text-base">Sub Types</mat-label>
                                <mat-select class="text-gray-800" placeholder="Sub Type" formControlName="sub_type"
                                    (selectionChange)="changeSubtype($event)">
                                    @for (item of subtypes; track item)
                                    { <mat-option [value]="item.subtype"> {{
                                        item.subtype }} </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        }
                        @else {
                        <mat-form-field class="flex-start m1-2 mr-2">
                            <mat-label class="ml-2 text-base">Funding</mat-label>
                            <input #myInput matInput placeholder="Fund" formControlName="fund" />
                        </mat-form-field>
                        }

                        @if (funds$ | async; as funds) {
                        <div class="flex flex-col grow">
                            <mat-form-field class="flex-col ml-1 mr-1" appearance="outline">
                                <mat-label class="ml-2 text-base">Funds</mat-label>
                                <mat-select class="text-gray-800" placeholder="Fund" formControlName="fund"
                                    (selectionChange)="changeFund($event)">
                                    @for (item of funds; track item)
                                    { <mat-option [value]="item.fund"> {{
                                        item.fund }} </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        }
                        @else {
                        <mat-form-field class="flex-start m1-2 mr-2">
                            <mat-label class="ml-2 text-base">Funding</mat-label>
                            <input #myInput matInput placeholder="Fund" formControlName="fund" />
                        </mat-form-field>
                        }
                    </section>
                    
                    <section class="flex flex-row">
                        <div class="flex flex-col grow">
                            <mat-form-field class="m-1 form-element grow" appearance="outline">
                                <mat-label class="ml-2 text-base dark:text-gray-100">Description</mat-label>
                                <input matInput placeholder="Description" formControlName="detail_description" />
                            </mat-form-field>
                        </div>


                        <div class="flex flex-col grow m-1">
                            <mat-form-field class="form-element" appearance="outline">
                                <mat-label class="text-base dark:text-gray-100">Reference</mat-label>
                                <input matInput placeholder="Reference" formControlName="reference" />

                            </mat-form-field>
                        </div>

                    </section>

                    <section class="flex flex-row">    
                        <div class="flex flex-col grow">
                            <mat-form-field class="m-1 form-element grow" appearance="outline">
                                <mat-label class="text-base dark:text-gray-100">Debit</mat-label>
                                <input type="text" mask="separator.2" [leadZero]="true" thousandSeparator=","
                                    class="text-right" matInput placeholder="Debit" formControlName="debit" />
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col grow">
                            <mat-form-field class="m-1 form-element grow" appearance="outline">
                                <mat-label class="text-base dark:text-gray-100">Credit</mat-label>
                                <input type="text" mask="separator.2" [leadZero]="true" thousandSeparator=","
                                    class="text-right" matInput placeholder="Credit" formControlName="credit" />
                            </mat-form-field>
                        </div>
                    </section>   

                    <div mat-dialog-actions class="m-1">
                        <button mat-icon-button color="primary" class="m-1 bg-slate-200 text-gray-100"
                            (click)="onUpdate($event)" matTooltip="Update Transaction" aria-label="hovered over">
                            <mat-icon>update</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" class="m-1 bg-slate-200 text-gray-100"
                            (click)="onCreate()" matTooltip="Add New Transaction" aria-label="hovered over">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" class="m-1 bg-slate-200 text-gray-100"
                            (click)="onDelete($event)" matTooltip="Delete Transaction" aria-label="hovered over">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" class="m-1 bg-slate-200 text-gray-100"
                            (click)="closeDrawer()" matTooltip="Cancel" aria-label="hovered over">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>

            </div>

        </mat-card> -->
    </form>
</div>