<mat-toolbar class="text-white font-sans bg-gray-500 mb-1 text-2xl">
  {{inTitle}}
  <!-- menu selected -->

  <span class="flex-1"></span>

  <button (click)="onClickAdd()" color="primary" class="m-1 bg-gray-200 text-gray-100" mat-icon-button matTooltip="Add New" aria-label="Add">
    <mat-icon class="flex justify-end text-white" [svgIcon]="'mat_outline:note_add'"></mat-icon>
  </button>

  <button (click)="onClickUpdate()" color="primary" class="m-1 bg-gray-200 text-gray-100" mat-icon-button matTooltip="Update" aria-label="Update">
    <mat-icon class="flex justify-end text-white" [svgIcon]="'mat_outline:update'"></mat-icon>
  </button>

  <button (click)="onClickRefresh()" color="primary" class="m-1 bg-gray-200 text-gray-100" mat-icon-button matTooltip="Refresh" aria-label="Add">
    <mat-icon class="flex justify-end text-white" [svgIcon]="'mat_outline:refresh'"></mat-icon>
  </button>

  <button (click)="onClickDelete()" color="primary" class="m-1 bg-gray-200 text-gray-100" mat-icon-button matTooltip="Delete" aria-label="Delete">
    <mat-icon class="flex justify-end text-white hover:bg-white hover:text-gray-700"
      [svgIcon]="'heroicons_outline:trash'"></mat-icon>
  </button>

</mat-toolbar>
