
    <div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto -px-20" cdkScrollable>
        <!-- Main -->
        <div class="flex-auto p-6 sm:p-10">
            <div class="h-full border-gray-300 rounded-2xl">
                <div class="dark:text-white text-3xl mb-10">Income Statement</div>
                  <div class="dark:text-white text-2xl ml-20 mb-10">Revenue</div>
                        @if (revenue$ | async; as revenue) {
                            <div class="flex flex-col ml-20">
                            <dx-data-grid
                                [dataSource]="revenue"
                                [remoteOperations]="false"
                                [showBorders]="false"
                                [showColumnLines]="false"
                                [showRowLines]="false"
                                [showColumnHeaders]="false"
                                keyExpr="account">

                                <dxi-column dataField="account" width="100" dataType="string"></dxi-column> -->
                                <dxi-column dataField="description" width="400" dataType="string"></dxi-column>
                                <dxi-column dataField="type" width="100" dataType="string"></dxi-column>
                                <dxi-column dataField="balance" dataType="number" alignment="right" format="currency"></dxi-column>
                                <dxo-summary>
                                    <dxi-total-item column="account" summaryType="count"> </dxi-total-item>


                                    <dxi-total-item
                                      column="balance"
                                      summaryType="sum"
                                      valueFormat="currency"
                                    >
                                    </dxi-total-item>
                                  </dxo-summary>

                            </dx-data-grid>
                        </div>
                    }
                        <div class="dark:text-white text-2xl ml-20 mt-10 mb-10">Expense</div>

                        @if (expense$ | async; as expense) {
                            <div class="flex flex-col ml-20">
                            <dx-data-grid
                                [dataSource]="expense"
                                [remoteOperations]="false"
                                [showColumnLines]="false"
                                [showRowLines]="false"
                                [showColumnHeaders]="false"
                                [showBorders]="true"
                                keyExpr="account">

                                <dxi-column dataField="account" width="100" dataType="string"></dxi-column> -->
                                <dxi-column dataField="description" width="400" dataType="string"></dxi-column>
                                <dxi-column dataField="type" width="100" dataType="string"></dxi-column>
                                <dxi-column dataField="balance" alignment="right" dataType="number" format="currency"></dxi-column>
                                <dxo-summary>
                                    <dxi-total-item column="account" summaryType="count"> </dxi-total-item>


                                    <dxi-total-item
                                      column="balance"
                                      summaryType="sum"
                                      valueFormat="currency"
                                    >
                                    </dxi-total-item>
                                  </dxo-summary>

                            </dx-data-grid>
                        </div>
                }
            </div>
        </div>
    </div>

