<div class="sm:hide md:visible">
<grid-menubar class="pl-5 pr-5" 
    [inTitle]="'Accounts Receivable Transactions'" 
    (notifyParentRefresh)="onRefresh()"
    (notifyParentAdd)="onAdd()" 
    (notifyParentDelete)="onDeleteSelection()" 
    (notifyParentUpdate)="onUpdateSelection()">
</grid-menubar>
</div>


    <div class="flex-auto">
        <div class="flex flex-col min-w-0 overflow-y-auto -px-10" cdkScrollable>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-full min-w-0">
            
            <div (click)="onReceipts()" class="flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden m-2 hover:cursor-pointer">
                <summary-card   [mainValue]="150026.00" [caption]="'Receipts'" [title]="'Funds'"
                    [subtitle]="" [subtitle_value]="">
                </summary-card>
            </div>
            <!-- Overdue -->
            <div  class="flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden m-2 hover:cursor-pointer">
                <summary-card  (click)="onReceipts()" [mainValue]="24000.00" [caption]="'Outstanding'" [title]="'30 Days'"
                    [subtitle]="''" [subtitle_value]="">
                </summary-card>
            </div>
            <div class="flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden m-2 hover:cursor-pointer">
                <summary-card  (click)="onReceipts()" [mainValue]="45050.00" [caption]="'Current Receivables'" [title]="'Capital'"
                    [subtitle]="''" [subtitle_value]="">
                </summary-card>
            </div>
            <!-- Issues -->
            <div class="flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden m-2 hover:cursor-pointer">
                <summary-card  (click)="onReceipts()"  [mainValue]="15000.00" [caption]="'Past Due Receipts'" [title]="'Capital'"
                    [subtitle]="''" [subtitle_value]="">
                </summary-card>
            </div>
        </div>
        
        <div class="h-full border-gray-300 rounded-2xl">
                @defer {
                    <ng-container>
                        @if (store.ar()) {
                        <div class="flex flex-1 flex-col overflow-auto">
                            <ejs-grid  id='ar-journals'                                  
                                  [rowHeight]='30'
                                  [dataSource]='store.ar()'   
                                  allowPaging='true' 
                                  allowSorting='true'  
                                  [pageSettings]='pageSettings'                                 
                                  showColumnMenu='true'
                                  allowEditing='true'
                                  [allowFiltering]='false'
                                  [enablePersistence]='true'
                                  [allowGrouping]='true'
                                  [allowExcelExport]='true'
                                  [allowPdfExport]='true' 
                                  [toolbar]='toolbarOptions'
                                  [selectionOptions]="selectionOptions"                                                                       
                                  (actionBegin)="actionBegin($event)" 
                                  (actionComplete)="actionComplete($event)" 
                                  [filterSettings]='filterSettings'      
                                  [editSettings]='editSettings'    
                                  [pageSettings]='pageSettings'
                                  [searchSetting]="searchOptions" >
                                <e-columns>
                                    <e-column  field="journal_id"  headerText="ID" width="100" dataType="number" isPrimaryKey='true' textAlign="left"></e-column>
                                    <e-column  field="type"        headerText="Type" width="100" dataType="text" textAlign="left"></e-column>
                                    <e-column  field="booked"      [displayAsCheckBox]='true' headerText="Booked" width="100" type="boolean"></e-column>                            
                                    <e-column  field="amount"      headerText="Amount" format='N2' width="150" textAlign="Right"></e-column>
                                    <e-column  field="period"      headerText="Prd" width="100" ></e-column>
                                    <e-column  field="period_year" headerText="Yr" width="100"></e-column>    
                                    <e-column  field="description" headerText="Description" width="200"></e-column>                                    
                                    <e-column  field="create_date" width='120' [format]='formatoptions' headerText="Created" type="dateTime"></e-column>                                                        
                                    <e-column  field="create_user" width='120' headerText="User" type="string"></e-column>             
                                    <e-column  field="party_id" width='120' headerText="Party" type="string"></e-column>             
                                </e-columns>
                            </ejs-grid>                             
                        </div>
                        }
                        @else 
                        {
                            <p>No transactions to display</p>
                        }
                        
                    </ng-container>     
                }
                @placeholder(minimum 1000ms) {
                    <div class="flex justify-center items-center">
                        <mat-spinner></mat-spinner>
                    </div>
                }            
        </div>
    </div>
    
</div>