::ng-deep .dx-datagrid .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row)>td:not(.dx-focused) {
    background-color: rgb(195, 199, 199);
    border-color: #ada6a7;
    height: 3rem;
}

::ng-deep .dx-datagrid .dx-datagrid-rowsview .dx-data-row {
    border-color: #ada6a7;
    height: 3rem;
}

::ng-deep .dx-datagrid-nowrap .dx-header-row>td {
    background-color: rgb(195, 199, 199);
}

::ng-deep .dx-datagrid-nowrap .dx-header-row>td>.dx-datagrid-text-content {
    font-weight: bold;
    font-family: 'Roboto', 'RobotoFallback', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    background-color: rgb(80, 38, 90);
}

::ng-deep .dx-datagrid-header-panel {
    padding: 0;
    background-color: rgba(74, 76, 78, 0.6);
}

::ng-deep .dx-datagrid .dx-row .dx-datagrid-rowsview > td {padding: 7px;}

::ng-deep #grid-container {
    height: v100;
  }
  
  ::ng-deep .demo-container {
    max-height: 500px;
    max-width: 500px;
    overflow-y: scroll;
  }
  
  ::ng-deep .dx-datagrid .dx-datagrid-headers{
    background-color: teal;
    position: sticky;
    color: white;
    top: 0;
    z-index: 1000;
  }
  
  ::ng-deep .dx-datagrid .dx-datagrid-columns-separator {
    z-index: 1001;
  }
  