<kanban-menubar class="" [inTitle]="'Tasks'" (notifyParentRefresh)="onRefresh()" (notifyParentAdd)="onAdd()"
    (notifyParentDelete)="onDeleteCurrentSelection()"
    (notifyParentUpdate)="onUpdateCurrentSelection()"></kanban-menubar>
<div class="flex flex-col min-w-0 overflow-y-auto bg-transparent" cdkScrollable>

    <div class="flex-auto">
        <div class="h-full rounded-2xl">
            <mat-drawer class="w-128 bg-gray-100" #drawer [opened]="false" mode="over" [position]="'end'"
                [disableClose]="false">
                <mat-card class="m-1 mat-elevation-z8">
                    <div mat-card-title
                        class="font-semibold text-3xl text-gray-100 bg-gray-500 p-1 border-white m-1 rounded-md">
                        {{sTitle}}
                    </div>
                    <div mat-card-content class="border-r-green-500">
                        <form [formGroup]="taskGroup" class="form">
                            <div class="flex flex-col m-1">
                                <div class="flex flex-col grow">
                                    <mat-form-field class="mt-1 flex-start">
                                        <input #myInput matInput placeholder="Kanban Task Title"
                                            formControlName="title" />
                                        <mat-icon class="icon-size-5" matPrefix
                                            [svgIcon]="'heroicons_solid:document'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <section class="flex flex-col md:flex-row gap-2">

                                    <mat-form-field class="grow">

                                        <mat-select placeholder="Type" formControlName="type"
                                            (selectionChange)="changeType($event)">
                                            <mat-option *ngFor="let p of types" [value]="p.value">
                                                {{p.viewValue }} </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="grow">

                                        <mat-select placeholder="Priority" formControlName="priority"
                                            (selectionChange)="changePriority($event.value)">
                                            <!-- <mat-option *ngFor="let p of priorities" [value]="p.value">
                                                {{ p.viewValue }} </mat-option> -->
                                            @for (item of store.priority(); track item) {
                                            <mat-option [value]="item.priority"> {{ item.priority }} </mat-option>
                                            }

                                        </mat-select>
                                    </mat-form-field>

                                </section>

                                <mat-form-field class=" grow gap-2">
                                    <input matInput placeholder="Tags" formControlName="tags" />
                                </mat-form-field>


                                <section class="flex flex-col md:flex-row gap-2">
                                    <mat-form-field class="grow">
                                        <mat-date-range-input [rangePicker]="picker">
                                            <input matStartDate formControlName="startdate" placeholder="Start date">
                                            <input matEndDate formControlName="estimatedate" placeholder="End date">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>

                                        @if (taskGroup.controls.startdate.hasError('matStartDateInvalid')) {
                                        <mat-error>Invalid start date</mat-error>
                                        }
                                        @if (taskGroup.controls.estimatedate.hasError('matEndDateInvalid')) {
                                        <mat-error>Invalid end date</mat-error>
                                        }
                                    </mat-form-field>



                                    <!-- <p>Selected range: {{taskGroup.value.startDate | json}}</p> -->

                                    <mat-form-field class="grow">

                                        <input matInput placeholder="Estimate (Days)" formControlName="estimate" />
                                    </mat-form-field>
                                </section>

                                <mat-form-field class="form-element gap-2">
                                    <mat-select placeholder="Assigned" formControlName="assignee"
                                        (selectionChange)="changeType($event.value)">
                                        @for (item of assignees; track item) {
                                        <mat-option [value]="item.view"> {{ item.viewValue }} </mat-option>
                                        }
                                        <!-- <mat-option *ngFor="let p of assignees" [value]="p.value"> {{
                                            p.viewValue }}
                                        </mat-option> -->
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="mat-form-field">
                                    <textarea matInput placeholder="Summary" formControlName="summary"> </textarea>
                                </mat-form-field>
                            </div>
                        </form>

                        <div mat-card-actions class="mb-3">

                            <button mat-icon-button (click)="onUpdate()" color="primary" class="m-1">
                                <mat-icon>update</mat-icon>
                            </button>
                            <button mat-icon-button (click)="onCopy()" color="primary" class="m-1">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                            <button mat-icon-button (click)="onDelete($event)" color="primary" class="m-1">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button (click)="closeDrawer()" color="warn" class="m-1">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>

                    </div>
                </mat-card>
            </mat-drawer>

            <mat-drawer-container>
                <mat-drawer-content>
                    @if (store.isLoading() !== null) {

                    <grid-menubar [inTitle]="'Kanban List'"></grid-menubar>
                    <div class="flex flex-col h-[640px]">
                        <dx-data-grid id="grid-container" 
                            [dataSource]="store.tasks()"
                            [showColumnLines]="true" 
                            [showRowLines]="true" 
                            [showBorders]="true"
                            (onCellDblClick)="onCellDblClick($event)" 
                            [focusedRowEnabled]="true"                             
                            keyExpr="id" [repaintChangesOnly]="true">
                            <dxo-search-panel [visible]="true"></dxo-search-panel>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                            <dxo-filter-row [visible]="false"></dxo-filter-row>
                            <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
                            <dxo-paging [pageSize]="10"> </dxo-paging>
                            
                            <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes"
                                [displayMode]="displayMode" [showPageSizeSelector]="showPageSizeSelector"
                                [showInfo]="showInfo">
                            </dxo-pager>

                            <dxi-column dataField="id" width="50" sortOrder="asc"></dxi-column>                            
                            <dxi-column dataField="title"></dxi-column>
                            <dxi-column dataField="status" width="90"></dxi-column>
                            <dxi-column dataField="summary"></dxi-column>
                            <dxi-column dataField="type" width="70"></dxi-column>
                            <dxi-column dataField="priority" width="70"></dxi-column>
                            <dxi-column dataField="tags" width="120"></dxi-column>
                            <dxi-column dataField="estimate" width="70"></dxi-column>
                            <dxi-column dataField="assignee" width="70"></dxi-column>
                            <!-- <dxi-column dataField="rankid " width="70"></dxi-column>
                            <dxi-column dataField="color" width="70"></dxi-column> -->
                        </dx-data-grid>
                    </div>

                    } @else
                    {
                    <div class="flex flex-col items-center justify-center h-screen mat-spinner-color w-full bg-white">
                        <mat-spinner class="text-gray-100 bg-white" [diameter]="80"></mat-spinner>
                        <p class="text-gray-100 text-2xl">Loading...</p>
                    </div>
                    }
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>