<kanban-menubar class="" [inTitle]="'Tasks'" (notifyParentRefresh)="onRefresh()" (notifyParentAdd)="onAdd()"
    (notifyParentDelete)="onDeleteCurrentSelection()"
    (notifyParentUpdate)="onUpdateCurrentSelection()"></kanban-menubar>
<div class="flex flex-col min-w-0 overflow-y-auto bg-transparent" cdkScrollable>

    <div class="flex-auto">
        <div class="h-full rounded-2xl">
            <mat-drawer class="w-128 bg-gray-100" #drawer [opened]="false" mode="over" [position]="'end'"
                [disableClose]="false">
                <mat-card class="m-2 mat-elevation-z8">
                    <div mat-card-title
                        class="font-semibold text-3xl text-gray-100 bg-gray-500 p-1 border-white m-2 rounded-md">
                        {{sTitle}}
                    </div>
                    <div mat-card-content class="border-r-green-500">
                   
                        <div mat-card-actions class="mb-3">
                            <button mat-icon-button (click)="onAddNew()" color="primary" class="m-1"
                                matTooltip="New Task">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-icon-button (click)="onUpdate()" color="primary" class="m-1"
                                matTooltip="Update">
                                <mat-icon>update</mat-icon>
                            </button>
                            <button mat-icon-button (click)="onCopy($event)" color="primary" class="m-1"
                                matTooltip="Copy Task">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                            <button mat-icon-button (click)="onDelete()" color="primary" class="m-1"
                                matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button (click)="closeDrawer()" color="warn" class="m-1" matTooltip="Close">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>

                    </div>
                </mat-card>
            </mat-drawer>
            <mat-drawer-container>
                <mat-drawer-content>
                    @if (store.isLoading() == false) {
                    <div class="" cdkScrollable>
                        <div class="control-section">
                            <div class="content-wrapper">
                                <!-- <p>Selected range: {{kanbanData | json}}</p> -->
                                <ejs-kanban #kanbanObj cssClass='kanban-overview' keyField="status"
                                    [dataSource]='store.tasks()'
                                    [cardSettings]='cardSettings' enableTooltip='false'
                                    [swimlaneSettings]='swimlaneSettings' (actionBegin)='OnActionBegin()'
                                    (actionComplete)='OnActionComplete()' (actionFailure)='OnActionFailure()'
                                    (cardDoubleClick)='OnCardDoubleClick($event)' 
                                    (dragStart)='OnDragStart($event)'
                                    (drag)='OnDrag($event)' 
                                    (dragStop)='OnDragStop($event)'
                                    (cardRendered)='cardRendered($event)'>
                                    <e-columns>
                                        <e-column class="text-gray-400" *ngFor="let column of columns;"
                                            headerText={{column.headerText}} keyField='{{column.keyField}}'
                                            allowToggle='{{column.allowToggle}}'>
                                            <ng-template #template let-data>
                                                <div class="header-template-wrap">
                                                    <div class="header-icon e-icons {{data.keyField}}"></div>
                                                    <div class="header-text text-gray-300">{{data.headerText}}</div>
                                                </div>
                                            </ng-template>
                                        </e-column>
                                    </e-columns>
                                    <ng-template #cardSettingsTemplate let-data>
                                        <div class='card-template'>
                                            <div class='e-card-header'>
                                                <div class='e-card-header-caption'>
                                                    <div class='e-card-header-title e-tooltip-text'>{{data.title}}</div>
                                                </div>
                                            </div>
                                            <div class='e-card-content e-tooltip-text'>
                                                <div class='e-text'>{{data.summary}}</div>

                                                <div class='e-date'>Start :{{data.startdate}}</div>
                                                <div class='e-date'>Estimate: {{data.estimatedate}}</div>

                                            </div>
                                            <div class='e-card-custom-footer'>
                                                <div class="e-card-tag-field e-tooltip-text"
                                                    *ngFor="let tag of data.tags.split(',');">{{tag}}</div>
                                                <div class='e-card-avatar'>{{getString(data.assignee)}}</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ejs-kanban>
                            </div>
                        </div>
                    </div>
                    } @else
                    {
                        <div class="flex flex-col items-center justify-center h-screen mat-spinner-color w-full bg-white">
                            <mat-spinner class="text-gray-100 bg-white" [diameter]="80"></mat-spinner>
                            <p class="text-gray-100 text-2xl">Loading...</p>
                        </div>
                    }                 
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>