<div data-te-lightbox-init >
  <ng-container *ngIf="inventoryImages$ | async as images">
  <div class="w-full bg-white min-h-[1440px]">
    <app-header [title]="product.description"></app-header>

    <div class="font-garamond text-2xl md:text-3xl grid grid-cols-1 gap-y-10 gap-x-6 mx-5 md:ml-40 md:mr-40 bg-white">
      <div class="grid-cols-1 md:col-start-1 md:col-span-7 text-gray-900 align-center font-bold">
        {{ product.short_description }}
      </div>
    </div>

    <div class="grid grid-cols-1 gap-y-10 gap-x-6 mx-5 md:ml-40 md:mr-40 md:grid-cols-7 bg-white">
      <div class="grid-cols-1 flex-shrink">
        <div class="flex flex-row gap-2 md:flex-col ">
          <ng-container *ngFor="let p of images">
            <div  class="flex-1 m-1 h-16 w-auto items-center cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto justify-between gap-auto rounded-md">
              <img class="hover:cursor-zoom-in rounded-md"  [ngSrc]="p.imageSrc400"  width="200" height="200"  [alt]="product.description" />
            </div>
          </ng-container>
        </div>
      </div>

      <div class="grid-cols-1 md:col-start-2 md:col-span-3">
        <img class="hover:cursor-zoom-in flex-1  w-full h-auto sm:w-full m-1 rounded-md" [src]="mainImage" width="400" height="400" [alt]="product.description" priority />
      <div class="flex flex-col md:flex-row">

          <button mat-raised-button
            class="w-full m-1 flex-start text-base font-medium text-center text-gray-600 bg-white border border-gray-800 py-7 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 hover:bg-black hover:text-white"
            (click)="onAddToShoppingCart()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            Cart
          </button>

          <button mat-raised-button
            class=" w-full flex-start m-1 text-base font-bold text-center text-gray-600 bg-white border border-gray-800 py-7 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 hover:bg-black hover:text-white"
            (click)="onAddToWishList()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
             Wish
          </button>

          <button mat-raised-button
            class="w-full m-1 text-base font-medium text-center text-gray-600 bg-white border border-gray-800 py-7 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 hover:bg-black hover:text-white"
            (click)="onGoShoppingCart()">
             Cart
            <mat-icon [svgIcon]="'heroicons_outline:shopping-cart'"></mat-icon>
          </button>

      </div>
    </div>

      <div class="grid-cols-1 smcol-start-5 md:col-span-3">
        <div class="flex-1">

          <div class="w-full p-1 md:w-auto text-base leading-normal text-gray-600 sm:mt-2"
            [innerHTML]="product.rich_description | safe : 'html'"> </div>
            <div *ngIf="!product.quantity_required">
              <p class="text-lg leading-5 text-gray-900 font-garamond md:text-xl"> Price ${{ product.price }} </p>
            </div>

            <div *ngIf="product.quantity_required" class="justify-between w-full mt-8 ">
              <div class="mt-3 text-lg leading-5 text-gray-800 font-garamond md:text-xl"> Cost per Quantity : ${{product.price }} </div>
                <div class="mt-3 text-lg leading-5 text-gray-800 font-garamond md:text-xl">Quantity : {{quantity | number: '1.1-1'}} </div>
              <div class="mt-3 text-lg leading-5 text-gray-800 font-garamond md:text-xl"> Purchase Total : ${{ total_cost | number: '1.0-0' }} </div>
            </div>

            <div *ngIf="product.quantity_required"
              class="flex items-center justify-between w-full mb-4 border border-gray-200 xl:mt-6 h-11">
              <button mat-flat-button (click)="subtract()"
                class="flex items-center justify-center h-full border-r w-11 xl:w-16 broder-gray-200">
                <mat-icon class="text-gray-800" [svgIcon]="'heroicons_solid:minus'"></mat-icon>
              </button>
              <p id="num" class="mt-2 leading-tight text-gray-600 text-medium">{{quantity | number}}</p>
              <button mat-flat-button (click)="add()"
                class="flex items-center justify-center h-full border-l w-11 xl:w-16 broder-gray-200">
                <mat-icon class="text-gray-800" [svgIcon]="'mat_solid:add'"></mat-icon>
              </button>
            </div>

        </div>
      </div>
    </div>
  </div>
  </ng-container>
  </div>


