<style>
    .control-section{
        margin-top: 100px;
    }    
</style>

<div class="control-section">
        <div class="col-lg-9">
            <ejs-grid #normalgrid id='Normalgrid' 
                    [dataSource]='data' 
                    [allowExcelExport]='true'                    
                    (toolbarClick)='toolbarClick($event)'                
                    [toolbar]='toolbar'>                    
                <e-columns>
                    <e-column field='OrderID' headerText='Order ID' width='140' textAlign='Right' isPrimaryKey='true' [validationRules]='orderidrules'></e-column>
                    <e-column field='CustomerID' headerText='Customer ID' width='140' ></e-column>
                    <e-column field='Freight' headerText='Freight' width='140' format='C2' textAlign='Right' editType='numericedit'></e-column>
                    <e-column field='OrderDate' headerText='Order Date' width='120' editType='datetimepickeredit' [format]='formatoptions' textAlign='Right'></e-column>
                    <e-column field='ShipCountry' headerText='Ship Country' width='150' editType='dropdownedit' [edit]='editparams'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
</div>
    
