<div class="h-[calc(100vh)-100px] ">
    <mat-drawer class="w-[450px]" #drawer [opened]="false" mode="over" [position]="'end'" [disableClose]="false">
        <mat-card class="m-2">
            <div class="flex flex-col w-full filter-article filter-interactive text-gray-700">
                <div class="bg-slate-600 text-justify m-2 p-2 text-white h-10 text-2xl border-l-4 border-gray-400"
                    mat-dialog-title>
                    {{ sTitle }}
                </div>
            </div>

            <form [formGroup]="accountsForm" class="form">
                <div class="div flex flex-col grow">
                    <section class="flex flex-col md:flex-row m-1">
                        <div class="flex flex-col grow">
                            <mat-form-field class="m-1 flex-start">
                                <input #myInput matInput placeholder="Account" formControlName="account" />
                                <mat-icon class="icon-size-5 text-teal-800" matPrefix
                                    [svgIcon]="'heroicons_outline:document'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col grow">
                            <mat-form-field class="m-1 flex-start">

                                <input #myInput matInput placeholder="Child Account" formControlName="child" />
                                <mat-icon class="icon-size-5 text-teal-800" matPrefix
                                    [svgIcon]="'heroicons_outline:clipboard-document'"></mat-icon>
                            </mat-form-field>
                        </div>
                        
                        <div class="flex flex-col grow">
                            <mat-checkbox color="primary" class="mt-2" formControlName="parent_account">
                                Parent
                            </mat-checkbox>
                        </div>

                    </section>

                    <div class="flex flex-col grow">
                        <mat-form-field class="m-1 flex-start">
                            <input #myInput matInput placeholder="Description" formControlName="description" />
                            <mat-icon class="icon-size-5 text-teal-800" matPrefix
                                [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <section class="flex flex-col md:flex-row">

                        <mat-form-field class="m-1 grow">

                            <mat-select placeholder="Type" formControlName="type"
                                (selectionChange)="changeType($event)">
                                @for (item of typeList(); track item) {
                                <mat-option [value]="item.type"> {{ item.type }} </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                    </section>

                    <div class="flex flex-col grow">
                        <mat-form-field class="m-1 flex-start">
                            <input #myInput matInput placeholder="Comments" formControlName="comments" />
                        </mat-form-field>
                    </div>

                </div>
            </form>

            <div mat-dialog-actions>
                <button mat-icon-button color="primary" class="m-1" (click)="onUpdate($event)" matTooltip="Update"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1" (click)="onCreate($event)" matTooltip="Add"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1" (click)="onDelete($event)" matTooltip="Delete"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-1" (click)="closeDrawer()" matTooltip="Close"
                    aria-label="Button that displays a tooltip when focused or hovered over">

                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <section class="text-xl text-gray-700" [formGroup]="accountsForm">
                {{accountsForm.value | json}}
            </section>
        </mat-card>
    </mat-drawer>
    <mat-drawer-container class="flex-col">
        <grid-menubar (notifyParentRefresh)="onRefresh()" (notifyParentAdd)="onAdd()"
            (notifyParentDelete)="onDeleteSelection()" (notifyParentUpdate)="onUpdateSelection()">
        </grid-menubar>
        <ng-container>
            @if (accountService.isLoading() === false) {

            <ejs-grid id="id" [dataSource]="this.accountService.accountList()" allowPaging='true' allowSorting='true'
                showColumnMenu='true' allowEditing='false' [allowFiltering]='true' [allowGrouping]='true'
                [toolbar]='toolbarOptions' [selectionOptions]='selectionOptions' [filterSettings]='filterSettings'
                [editSettings]='editSettings' [pageSettings]='pageSettings' [searchSetting]='searchOptions'
                (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'>

                <e-columns>
                    <e-column headerText="Parent" field="account" width="130"></e-column>
                    <e-column headerText="Account" field="child" width="130"></e-column>
                    <e-column headerText="Root" [displayAsCheckBox]='true' field="parent_account" width="120"></e-column>
                    <e-column headerText="Description" field="description" width="250"></e-column>
                    <e-column headerText="Type" field="type" caption="Type" width="120"></e-column>
                    <e-column headerText="Date" field="update_date" width="120"></e-column>
                    <e-column headerText="User" field="update_user" width="120"></e-column>
                    <e-column headerText="Comments" field="comments"></e-column>
                </e-columns>
            </ejs-grid>

            }
            @else
            {
            <div class="fixed z-[1050] -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4">
                <mat-spinner></mat-spinner>
            </div>
            }
        </ng-container>
    </mat-drawer-container>
</div>